body {
    /*background colors from: https://cssgradient.io/gradient-backgrounds/ */background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding-bottom: 1000px;
}

table {
    width: 100%;
    background-color: rgb(230, 229, 240);
    border-collapse: collapse;
}

.button-box {
    text-align: center;
}

th, td {
    border: 1px solid rgb(47, 56, 105);
    border-radius: px;
    padding: 3px;
    text-align: left;
}

th {
    background-color: rgb(240, 235, 229);
}
  
input.input-field {
    border: 1px solid rgb(102, 99, 99);
    border-radius: 0%;
}